/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /*end of reset*/

/* font style */
@font-face {
  font-family: 'Lato';
  src:
      url('../fonts/Lato-Regular.woff2') format('woff2'),
      url('../fonts/Lato-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Quicksand';
  src:
      url('../fonts/Quicksand-Regular.woff2') format('woff2'),
      url('../fonts/Quicksand-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'Quicksand', Fallback, sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.navbar {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  width: 100%;
  position: absolute;
  transition: top 3s;
}

.fixed {
  position: fixed;
  z-index: 999999;
  background: #2D3134;
  top: 0;
  opacity: .8;
}

.sticky {
  position:fixed;
  top:0;
}
.navbar-brand {
  font-size: 2rem;
  color: white;
}

#mainNav {
  display: flex;
}

.nav > li {
  list-style-type: none;
  font-size: 1.25rem;
}

li ~ li {
  margin-left: 3rem;
}

.nav-link {
  text-decoration: none;
  color: white;
  line-height: 1.5rem;
}
.nav-link:visited{
  color: white;
}

#home {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
      ),
    url('../img/coast.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  color: white;
}

/* purchase button*/

#purchase {
  border: 1.4px solid white;
  padding: .5rem 1rem;
  border-radius: 30px;
}

#purchase:hover {
  background: linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
    );
  }

@-webkit-keyframes fadeInOpacity {
  0% {
    opacity: .4;
  }
  100% {
    opacity: .9;
  }
}

.fade-in:hover {
  opacity: .9;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
}

/* jumbotron*/

.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 970px;
}

.jumbotron > h1 {
  font-weight: 500;
  font-size: 3rem;
  line-height: 4rem;
}

.jumbotron > p {
  font-size: 1.25rem;
  line-height: 2rem;
  width: 50%;
  text-align: center;
}

.btn-primary {
  background: transparent;
  color: white;
  padding: 0 2rem;
  margin-top: 1rem;
  border: 1px solid white;
  border-radius: 30px;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 3rem;
  cursor: pointer;
  outline: none;
}

.section {
  color: #333;
}

/* section about */

#about {
  display: flex;
  min-height: 500px;
}

.about-description {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;
  background: #f7f7f8;
}

.about-description > h1 {
  line-height: 3rem;
  font-size: 2rem;
}
.about-description > p {
  line-height: 1.75rem;
}

.about-image {
  background-image:
  linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)
    ),
  url('../img/about-us.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  flex-basis: 50%;
}

#about-details {
  min-height: 400px;
  display: flex;
  align-items: center;
}
.about-rules {
  display: flex;
  padding: 3rem 0;
}
.about-item {
  text-align: center;
}
.about-item ~ .about-item {
  margin-left: 3rem;
}

.about-item > i {
  text-align: center;
  font-size: 3rem;
}
.about-item > h2 {
  font-weight: 500;
  line-height: 4rem;
  text-align: center;
}

.about-item > p {
    line-height: 1.5rem;
}

/* offer section */

#offer{
  display: flex;
  min-height: 600px;
}

.offer-image {
  background-image:
  linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)
    ),
  url('../img/offer-main.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  flex-basis: 50%;
}

.offer-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  padding: 0 3rem;
  background: #f7f7f8;
}

.offer-description > h1 {
  line-height: 3rem;
  font-size: 2rem;
}

.offer-description > ul > li {
  list-style-type: none;
}

.offer-details > p {
  line-height: 1.5rem;
}

.btn-secondary {
  background: transparent;
  color: #333;
  padding: 0 2rem;
  margin-top: 1rem;
  border: 1px solid #333;
  border-radius: 30px;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 3rem;
  cursor: pointer;
  outline: none;
}

/*footer */

#contact {
  background: #2D3134;
  color: white;
}

.footer {
  padding: 4rem 0;
  border-bottom: 1px solid #535960;
}
.footer > h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5rem;
  font-weight: 300;
  margin-bottom: 4rem;
}

.footer + p {
  padding: 2rem 0;
  text-align: center;
}
.form {
  flex-basis: 50%;
  text-align: center;
}

.contact-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.contact-info > span {
  font-size: 2rem;
  margin-right: 1rem;
}

.details {
  text-align: left;
}

.details > h2 {
  /* text-transform: uppercase; */
  letter-spacing: .5rem;
  font-size: 1.25rem;
}

.fa-facebook-square {
  cursor: pointer;
  font-size: 2.5rem;
  text-decoration: none;
  color: white;
}

.fa-amazon {
  cursor: pointer;
  font-size: 2.5rem;
  text-decoration: none;
  color: white;
}
.social-icons > a ~ a {
  margin-left: 1.5rem;
}

.web-info {
  text-align: center;
  background: #2D3134;
  color: white;
  padding: 1.5rem 0;
}